:root {
    --spacing: 0.6em;

    --background-colour: #e1dee1;
    --text-colour: #000;
    --accent-colour: #ff1980;
    --accent-colour--rgb: 255, 25, 128;
    --spacer-colour: #adaeae;
    --bottom-links-opacity: 0.6;
}
@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-colour: #232425;
        --text-colour: #ebebeb;
        --accent-colour: #ff1980;
        --accent-colour--text-against: #000;
        --spacer-colour: #525353;
        --icon-filter: brightness(140%);
        --bottom-links-opacity: 0.8;
    }
}
