name: Compile and build development test packages

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - name: Compile scripts
      run: npm run build
    - name: Create packages
      run: npm run package-dev
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        if-no-files-found: error
        path: |
          pkgs/*.zip
